* {
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
}

.calculator {
  background-color: rgba(82, 93, 104, 0.931);
  display: block;
  margin: 10% auto;
  width: 400px;
  border: 1px solid slategrey;
}
.screen {
  font-family: monospace;
  display: block;
  text-align: end;
  height: 35px;
  font-size: 40px;
  padding: 5px 10px;
  color: whitesmoke;
}
.number-pad {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
button {
  height: 100px;
  font-size: 40px;
  width: 25%;
  cursor: pointer;
}
button:hover {
  opacity: 90%;
}
.key-zero {
  font-size: 40px;
  height: 100px;
  flex-grow: 4;
}
.last-column {
  font-size: 40px;
  width: 25%;
  background-color: rgb(245, 119, 73);
  color: whitesmoke;
}
.key-clear {
  height: 100px;
  flex-grow: 6;
  font-size: 40px;
}
