* {
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
}

.calculator {
  background-color: slategrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7% 30%;
  height: 35em;
  width: 20em;
  border: 1px solid slategrey;
}
.screen {
  font-family: monospace;
  display: block;
  text-align: end;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.number-pad {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.keys {
  height: 100px;
  width: 75px;
  font-size: 40px;
}
.key-zero {
  width: 100%;
}
